<div>
	<h3>Adicionar Novo Membro</h3>
</div>
<div>
	<select name="amigos" id="lista_amigos" style="text-align:center">
		{{#each obj.friends}}
			<option class="list-group-item">{{@key}}</option>
		{{/each}}
	</select>
	<div class="botao-wrapper">
		<button class="btn btn-default cancelar">Cancelar</button>
		<button class="btn btn-success" id="add_novo_membro">Adicionar</button>
	</div>
</div>