<div>
	<h3>Convidar Amigo Para Grupo {{obj.pageInfo.mode.text}} </h3>
</div>
<div>
	<form class="form-group">

		<label for="adversario">Contra: </label>
		<select class="form-control" id = "amigo_grupo_nome">
			{{#each obj.friends}}
				<option>{{@key}}</option>	
			{{/each}}
		</select>
		<div class="botao-wrapper">
			<button class="btn btn-default cancelar">Cancelar</button>
			<button class="btn btn-success" id="add_amigos_grupo_btn">Enviar</button>
		</div>

	</form>
</div>
