<div class="popup mfp-hide" id='convidar_amigos_popup' style="background-color:white;">
	<div>
		<h3>Convidar Amigo</h3>
	</div>
	<div>
		<form class="form-group">

			<ul style="margin-top:20px;margin-bottom:5px;" id="lista_adicionar_amigos" class="list-group">
				<li class="list-group-item">
					<input class="form-control" type="text" placeholder="Nome">
				</li>
			</ul>

			<a href="#" id="add_amigos_input"><i class="fa fa-plus" aria-hidden="true"></i> Um Amigo</a>

			<div class="botao-wrapper">
				<button class="btn btn-default cancelar">Cancelar</button>
				<button class="btn btn-success" id="add_amigos_btn">Enviar</button>
			</div>

		</form>
	</div>
</div>