<div class="popup mfp-hide" id='criar_grupo_popup' style="background-color:white;">
	<div>
		<h3>Criar Grupo</h3>
	</div>
	<div>
		<form class="form-group">

			<h4 style="margin-top:0">Nome:</h4>
			<input class="form-control" id='novo_grupo_nome' type="text" name="grupoNome" placeholder="Entre o nome do seu grupo">
			
			<h4>Membros:</h4>
			<ul class="list-group" id="integrantes_grupo" style="margin-bottom:5px">
				<li class="list-group-item"><input class="form-control" type="text" placeholder="Nome"></li>
			</ul>
			
			<a href="#" id="add_pessoa"><i class="fa fa-plus" aria-hidden="true"></i> Um Membro</a>
			
			<div class="botao-wrapper">
				<button class="btn btn-default cancelar">Cancelar</button>
				<button class="btn btn-success" id="add_novo_grupo_btn">Criar</button>
			</div>

		</form>
	</div>
</div>