<div class="popup-title">
	<h4>Criar Grupo</h4>
</div>
<div>
	<form class="form-group">
	
		<div class="popup-content-wrapper">

			<h5 style="margin-top:30px;">Nome do grupo</h5>
			<input class="form-control" id='novo_grupo_nome' type="text" name="grupoNome" placeholder="Entre o nome grupo">
			
			<h5>Membros</h5>
			<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownAmigos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    <span> Amigos </span>  
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu lista-amigos" aria-labelledby="dropdownAmigos">
			    {{#each obj.friends}}
					<li><a href="#">{{@key}}</a></li>	
				{{/each}}
			  </ul>
			</div>

			<div class="clearfix col-xs-12" id="membros_wrapper" style="height: 135px; margin-top:15px; overflow-y:scroll;"></div>
		</div>		
		<div class="botao-wrapper">
			<button class="btn btn-default cancelar">Cancelar</button>
			<button class="btn btn-success" id="add_novo_grupo_btn">Criar</button>
		</div>

	</form>
</div>
