<div class="popup-title">
	<h4>Nome de Usuário</h4>
</div>
<div>
	<form class="form-group">

		<p>Insira um nome de usuario para o FIFA manager!</p>
		<input class="form-control" type="text" name="usuario" id="nome_usuario">

		<div class="botao-wrapper">
			<button class="btn btn-success" id="add_nome_usuario">Salvar</button>
		</div>
	
	</form>
</div>
