// Variables

// colors
$fb_blue: 				rgba(59, 89, 152,1);
$blue: 					darken(#428bca, 6.5%) !default; // #337ab7
$green: 				#5cb85c !default;
$red: 					#d9534f !default;


$home_letter_spacing: 	1px;
$main_letter_spacing: 	$home_letter_spacing * 0.75;
$border_radius: 		5px;
