<div class="col-xs-3" style="margin-bottom:10px;">
	<span class="input-group">
		<span class="input-group-btn">
			<button class="btn btn-danger remove-amigo" style="font-size:12px;">x</button>
		</span>
		<span class="form-control crop" style="font-size:12px; height:auto;">{{nome}}</span>
	</span>
</div>