<li class="list-group-item">Amigos <a id="convidar_amigos" href="#" class="small"> <i class="fa fa-plus" aria-hidden="true"></i> add</a></li>
{{#each obj.friends}}
	<a class="list-group-item">{{@key}}</a>
{{/each}}
