<li class="list-group-item disabled">Amigos <a id="convidar_amigos" href="#" class="small"> <i class="fa fa-plus" aria-hidden="true"></i> add</a></li>
{{#each obj.friends}}
	<li class="list-group-item">{{@key}}</li>
{{/each}}
