<li class="list-group-item">Amigos <a id="convidar_amigos" href="#" class="small"> <i class="fa fa-plus" aria-hidden="true"></i> add</a></li>
{{#each obj.friends}}
	<li class="list-group-item"><a>{{@key}}</a></li>
{{/each}}
{{log this}}