<li class="list-group-item disabled">Grupos <a href="#" id="criar_grupo" class="small"> <i class="fa fa-plus" aria-hidden="true"></i> add</a></li>
{{#each obj.groups}}
	<li class="list-group-item">{{@key}}</li>
{{/each}}
