<li class="list-group-item">Grupos <a href="#" id="criar_grupo" class="small"> <i class="fa fa-plus" aria-hidden="true"></i> add</a></li>
{{#each obj.groups}}
	<a class="list-group-item">{{this}}</a>
{{/each}}
