{{#if obj.total}}
	<div class="col-sm-offset-3 col-sm-6">
		<div>
			<h3 style="text-align:center">Venceu</h3>
			<h4 style="text-align:center">Player 1 <small>Time1</small> 2 x 1 <small>Time2</small> Player 2</h4>
		</div>
		<div>
			<h3 style="text-align:center">Venceu</h3>
			<h4 style="text-align:center">Player 1 <small>Time1</small> 2 x 1 <small>Time2</small> Player 2</h4>
		</div>
		<div>
			<h3 style="text-align:center">Venceu</h3>
			<h4 style="text-align:center">Player 1 <small>Time1</small> 2 x 1 <small>Time2</small> Player 2</h4>
		</div>
		<div>
			<h3 style="text-align:center">Venceu</h3>
			<h4 style="text-align:center">Player 1 <small>Time1</small> 2 x 1 <small>Time2</small> Player 2</h4>
		</div>
		<div>
			<h3 style="text-align:center">Venceu</h3>
			<h4 style="text-align:center">Player 1 <small>Time1</small> 2 x 1 <small>Time2</small> Player 2</h4>
		</div>
	</div>
	<button class="btn btn-primary" id="add_novo_membro" style="float:right; margin-top:35px;">Add novo membro</button>
{{else}}
	<div class="nenhuma-partida">
		<h3><small>Recente </small>Você ainda nao jogou nenhuma partida!</h3>
	</div>
{{/if}}
