<div class="container-fluid">
	
	<div class="left-sidebar col-sm-3">
		<div class="list-group">
			<a href="#" id="resumo" class="list-group-item active">Resumo</a>
			<a href="#" id="recente" class="list-group-item">Recente</a>
		</div>
		
		<ul class="list-group" id="geral">
			<li class="list-group-item active">Geral</li>
		</ul>
		
		<ul class="list-group" id="groups_list">
			{{>groupslistTemplate}}
		</ul>
		
		<ul class="list-group" id="friends_list">
			{{>friendslistTemplate}}
		</ul>
	</div>
	<div class="clearfix main col-xs-12 col-sm-9">
		<div class="main-header-wrapper clearfix">
			<div class="main-header">
				{{>mainHeader}}
			</div>

			<div class="display-jogos" style="height:25px;">
				{{log this}}
				<div class="col-xs-4">Venceu: {{obj.venceu}}</div>
				<div class="col-xs-4">Perdeu: {{obj.perdeu}}</div>
				<div class="col-xs-4">Empatou: {{obj.empatou}}</div>
			</div>
		</div>
		<div class="main-content">
			{{>geralResumoTemplate}}
		</div>
	</div>
	
</div>
