<div id="recente-content">
	{{#if obj.total}}
		<div class="col-sm-offset-3 col-sm-6">
		</div>
	{{else}}
		<div class="nenhuma-partida">
			<h3>Você ainda nao jogou nenhuma partida!</h3>
		</div>
	{{/if}}
</div>